<?xml version="1.0" encoding="UTF-8" ?>
<configuration>
    <port-number>1234</port-number>
    <server-address>127.0.0.1</server-address>
    <admin-username>Admin</admin-username>
    <text-file-storage-name>Messages.txt</text-file-storage-name>
    <amount-messages-to-get>10</amount-messages-to-get>
    <maximum-users-amount>10</maximum-users-amount>
</configuration>